<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964606052594-a1l13bp1d2331hk0ut12o22sv056aftu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964606052594-a1l13bp1d2331hk0ut12o22sv056aftu</string>
	<key>API_KEY</key>
	<string>AIzaSyDMVO_XcrWaSTm62Abf3BGgyF5O725TVdM</string>
	<key>GCM_SENDER_ID</key>
	<string>964606052594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Rylee-Partners</string>
	<key>PROJECT_ID</key>
	<string>ryleeofficial-dcaaf</string>
	<key>STORAGE_BUCKET</key>
	<string>ryleeofficial-dcaaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964606052594:ios:dfc1bf2c9f2cc8b538e86b</string>
</dict>
</plist>